.Hero1 {
    width: 100%;
    display: flex;
    background-color: #36096d;
background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);

}

.Hero-text {
    width: 50%;
    padding: 3rem 0  10rem 4rem;
    color: white;
}

.Hero-text h3 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.Hero-button {
    width: 50%;
    margin: 5rem 5rem 0;
    text-align: right;
}

.Hero-button button {
    width: 8rem;
    color: rgb(36, 36, 230);
    background-color: white;
    padding: .5rem;
    border: none;
    border-radius: 7px;

}