.Nav {
  width: 100%;
  display: flex;
  background-color: rgb(240, 232, 232);
}

.Navicon {
  width: 98%;
  padding: 1rem;
}

.Navicon  div {
  width: 2%;
  height: 2px;
  background-color: black;
  margin: 5px 0 0 97%;
}

.profile {
   display: flex;
   width: 15%;
   padding: 1rem;
}

.profile img {
  width: 35px;
  border-radius: 100%;
}

.profile p {
  font-size: 12px;
  padding: .3rem .8rem 0;
}

